{% extends 'base.html' %}
{% block title %}Sale {{ product.pk }}{% endblock title %}
{% block nav %}
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{% url "create" %}">Put up for sale</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{% url "update" product.pk %}">Update Sale</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{% url "delete" product.pk %}">Delete Sale</a>
    </li>
{% endblock %}
{% block content %}
    <h1>{{ product.product_name }}</h1>
    <h3>{{ product.category }}</h3>
    <p>Description: {{ product.description }}</p>
    <p>Quantity: {{ product.remainder }}</p>
    <p>Price: {{ product.price }}$</p>
{% endblock %}